*{margin: 0;padding: 0;box-sizing: border-box;}
html{
  overflow: auto;
}
body{
  --scale-factor: 1;
  position: absolute;
  width: calc(100vw * var(--scale-factor));
  height: calc(100vh * var(--scale-factor));
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #000;
  overflow: hidden;
  zoom: calc(1 / var(--scale-factor));
  user-select: none;
  /* scroll-behavior: smooth; */
}
.tile{
  position: absolute;
  width: 64px;
  height: 64px;
  background-size: 480px;
  background-position: 0px 0px;
  background-repeat: repeat;
  /* background-attachment: fixed; */
  clip-path: polygon(10% 10%, 20% 10%, 45% 0%, 80% 10%, 100% 10%, 90% 30%, 100% 60%, 100% 100%, 80% 100%, 45% 90%, 20% 100%, 10% 100%, 10% 90%, 10% 60%, 0% 30%);
  transform: scaleX(1.13) scaleY(1.13);
  /* border: 2px solid transparent; */
}
.tile:hover{
  opacity: 0.7;
}
.tile.left-border{
  transform: scaleX(1.03) scaleY(1.13) translateX(2px);
  /* border-left: 2px solid black; */
}
.tile.top-border{
  transform: scaleX(1.13) scaleY(1.03) translateY(2px);
  /* border-top: 2px solid black; */
}
.tile.left-border.top-border{
  transform: scaleX(1.03) scaleY(1.03) translateX(2px) translateY(2px);
}
.tile.curve-bottom-left{
  border-radius: 0 0 0 50%;
}
.tile.curve-top-right{
  border-radius: 0 50% 0 0;
}
.tile.curve-bottom-left.curve-top-right{
  border-radius: 0 50%;
}


.tile.air{
  background-image: url("../assets/Texture2D/solid_oxygen.png");
}
.tile.dirt{
  background-image: url("../assets/Texture2D/dirt.png");
}
.tile.sand{
  background-image: url("../assets/Texture2D/sand.png");
}
.tile.clay{
  background-image: url("../assets/Texture2D/clay.png");
}
.tile.fertilizer{
  background-image: url("../assets/Texture2D/fertilizer.png");
}
.tile.oxylite{
  background-image: url("../assets/Texture2D/oxyrocks.png");
}
.tile.salt{
  background-image: url("../assets/Texture2D/salt.png");
}
.tile.snow{
  background-image: url("../assets/Texture2D/snow.png");
}
.tile.ice{
  background-image: url("../assets/Texture2D/ice.png");
}
.tile.polluted-ice{
  background-image: url("../assets/Texture2D/dirty_ice.png");
}
.tile.coal{
  background-image: url("../assets/Texture2D/carbon.png");
}
.tile.granite{
  background-image: url("../assets/Texture2D/granite.png");
}
.tile.sandstone{
  background-image: url("../assets/Texture2D/sand_stone.png");
}
.tile.limestone{
  background-image: url("../assets/Texture2D/limestone.png");
}
.tile.bleach-stone{
  background-image: url("../assets/Texture2D/bleach_stone.png");
}
.tile.igneous-rock{
  background-image: url("../assets/Texture2D/igneous_rock.png");
}
.tile.sedimentary-rock{
  background-image: url("../assets/Texture2D/sedimentary_rock.png");
}
.tile.phosphorus{
  background-image: url("../assets/Texture2D/phosphorus.png");
}
.tile.phosphorite{
  background-image: url("../assets/Texture2D/phosphorite.png");
}
.tile.sulfur{
  background-image: url("../assets/Texture2D/sulfur.png");
  background-size: 180px;
}
.tile.algae{
  background-image: url("../assets/Texture2D/algae.png");
  background-size: 180px;
}
.tile.slime{
  background-image: url("../assets/Texture2D/slime_mold.png");
}
.tile.absylite{
  background-image: url("../assets/Texture2D/katairite.png");
}
.tile.copper-ore{
  background-image: url("../assets/Texture2D/cuprite.png");
}
.tile.iron-ore{
  background-image: url("../assets/Texture2D/iron.png");
}
.tile.aluminum-ore{
  background-image: url("../assets/Texture2D/aluminum_ore.png");
}
.tile.gold-amalgam{
  background-image: url("../assets/Texture2D/gold_amalgam.png");
}
.tile.neutronium{
  background-image: url("../assets/Texture2D/neutronium.png");
}
.tile.lead{
  background-image: url("../assets/Texture2D/lead.png");
}
.tile.diamond{
  background-image: url("../assets/Texture2D/diamond.png");
}
.tile.fossil{
  background-image: url("../assets/Texture2D/fossil.png");
}
.tile.obsidian{
  background-image: url("../assets/Texture2D/obsidian.png");
}
.tile.magma{
  background-color: #b41414;
}
.tile.water{
  background-color: skyblue;
}


/* .tile.copper-mask{
  background-image: url("../assets/Texture2D/cuprite_mask.png");
  clip-path: polygon(0 0, 40% 0, 100% 60%, 100% 100%, 60% 100%, 0 40%);
} */