*{margin: 0;padding: 0;box-sizing: border-box;}
html{
  overflow: auto;
}
body{
  --scale-factor: 1;
  position: absolute;
  width: calc(100vw * var(--scale-factor));
  height: calc(100vh * var(--scale-factor));
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #000;
  overflow: hidden;
  zoom: calc(1 / var(--scale-factor));
  user-select: none;
  overscroll-behavior-y: none;
  /* scroll-behavior: smooth; */
}
.tile{
  position: absolute;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  transform: scaleX(1.13) scaleY(1.13);
}
.tile.natural{
  clip-path: polygon(10% 10%, 20% 10%, 45% 0%, 80% 10%, 100% 10%, 90% 30%, 100% 60%, 100% 100%, 80% 100%, 45% 90%, 20% 100%, 10% 100%, 10% 90%, 10% 60%, 0% 30%);
  background-size: 480px;
  background-position: 0px 0px;
  background-repeat: repeat;
  /* background-attachment: fixed; */
  /* border: 2px solid transparent; */
}
.tile.natural:hover{
  opacity: 0.7;
}
.tile.natural.bottom-straight{
  clip-path: polygon(10% 10%, 20% 10%, 45% 0%, 80% 10%, 100% 10%, 90% 30%, 100% 60%, 100% 100%, 80% 100%, 45% 100%, 20% 100%, 10% 100%, 10% 90%, 10% 60%, 0% 30%);
} 
.tile.natural.top-straight{
  clip-path: polygon(10% 0%, 20% 0%, 45% 0%, 80% 0%, 100% 0%, 90% 30%, 100% 60%, 100% 100%, 80% 100%, 45% 90%, 20% 100%, 10% 100%, 10% 90%, 10% 60%, 0% 30%);
}
.tile.natural.left-straight{
  clip-path: polygon(10% 10%, 20% 10%, 45% 0%, 80% 10%, 100% 10%, 100% 30%, 100% 60%, 100% 100%, 80% 100%, 45% 90%, 20% 100%, 10% 100%, 10% 90%, 10% 60%, 0% 30%);
}
.tile.natural.right-straight{
  clip-path: polygon(0% 10%, 20% 10%, 45% 0%, 80% 10%, 100% 10%, 90% 30%, 100% 60%, 100% 100%, 80% 100%, 45% 90%, 20% 100%, 0% 100%, 0% 90%, 0% 60%, 0% 30%);
}
.tile.natural.left-border{
  transform: scaleX(1.03) scaleY(1.13) translateX(2px);
  /* border-left: 2px solid black; */
}
.tile.natural.top-border{
  transform: scaleX(1.13) scaleY(1.03) translateY(2px);
  /* border-top: 2px solid black; */
}
.tile.natural.left-border.top-border{
  transform: scaleX(1.03) scaleY(1.03) translateX(2px) translateY(2px);
}
.tile.natural.curve-bottom-left{
  border-radius: 0 0 0 50%;
}
.tile.natural.curve-top-right{
  border-radius: 0 50% 0 0;
}
.tile.natural.curve-bottom-left.curve-top-right{
  border-radius: 0 50%;
}


.tile.natural.air{
  background-image: url("../assets/Texture2D/solid_oxygen.png");
}
.tile.natural.dirt{
  background-image: url("../assets/Texture2D/dirt.png");
}
.tile.natural.sand{
  background-image: url("../assets/Texture2D/sand.png");
}
.tile.natural.clay{
  background-image: url("../assets/Texture2D/clay.png");
}
.tile.natural.fertilizer{
  background-image: url("../assets/Texture2D/fertilizer.png");
}
.tile.natural.oxylite{
  background-image: url("../assets/Texture2D/oxyrocks.png");
}
.tile.natural.salt{
  background-image: url("../assets/Texture2D/salt.png");
}
.tile.natural.snow{
  background-image: url("../assets/Texture2D/snow.png");
}
.tile.natural.ice{
  background-image: url("../assets/Texture2D/ice.png");
}
.tile.natural.polluted-ice{
  background-image: url("../assets/Texture2D/dirty_ice.png");
}
.tile.natural.coal{
  background-image: url("../assets/Texture2D/carbon.png");
}
.tile.natural.granite{
  background-image: url("../assets/Texture2D/granite.png");
}
.tile.natural.sandstone{
  background-image: url("../assets/Texture2D/sand_stone.png");
}
.tile.natural.limestone{
  background-image: url("../assets/Texture2D/limestone.png");
}
.tile.natural.bleach-stone{
  background-image: url("../assets/Texture2D/bleach_stone.png");
}
.tile.natural.igneous-rock{
  background-image: url("../assets/Texture2D/igneous_rock.png");
}
.tile.natural.sedimentary-rock{
  background-image: url("../assets/Texture2D/sedimentary_rock.png");
}
.tile.natural.phosphorus{
  background-image: url("../assets/Texture2D/phosphorus.png");
}
.tile.natural.phosphorite{
  background-image: url("../assets/Texture2D/phosphorite.png");
}
.tile.natural.sulfur{
  background-image: url("../assets/Texture2D/sulfur.png");
  background-size: 180px;
}
.tile.natural.algae{
  background-image: url("../assets/Texture2D/algae.png");
  background-size: 180px;
}
.tile.natural.slime{
  background-image: url("../assets/Texture2D/slime_mold.png");
}
.tile.natural.absylite{
  background-image: url("../assets/Texture2D/katairite.png");
}
.tile.natural.copper-ore{
  background-image: url("../assets/Texture2D/cuprite.png");
}
.tile.natural.iron-ore{
  background-image: url("../assets/Texture2D/iron.png");
}
.tile.natural.aluminum-ore{
  background-image: url("../assets/Texture2D/aluminum_ore.png");
}
.tile.natural.gold-amalgam{
  background-image: url("../assets/Texture2D/gold_amalgam.png");
}
.tile.natural.neutronium{
  background-image: url("../assets/Texture2D/neutronium.png");
}
.tile.natural.lead{
  background-image: url("../assets/Texture2D/lead.png");
}
.tile.natural.diamond{
  background-image: url("../assets/Texture2D/diamond.png");
}
.tile.natural.fossil{
  background-image: url("../assets/Texture2D/fossil.png");
}
.tile.natural.obsidian{
  background-image: url("../assets/Texture2D/obsidian.png");
}
.tile.natural.magma{
  background-color: #b41414;
}
.tile.natural.water{
  /* background-color: skyblue; */
  /* background: linear-gradient(0deg, skyblue, #fff); */
  background-image: url("https://i.gifer.com/OVZK.gif");
  background-size: 128px;
  /* animation: liquid 3s ease infinite; */
  /* clip-path: none;
  z-index: -1; */
}

@keyframes liquid {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}


.tile.platform.tile-solid{
  background-position: -6px -4px;
  background-size: 258px;
  background-image: url("../assets/Texture2D/tiles_solid.png");
  /* background-color: #f006; */
  transform: scaleX(1.13) scaleY(1.13) translate(2px, 2px);
  z-index: 2;
}
.tile.platform.tile-solid.left{
  background-position: -114px -4px;
}
.tile.platform.tile-solid.right{
  background-position: -6px -57px;
}
.tile.platform.tile-solid.left.right{
  background-position: -116px -64px;
}

.tile.platform.tile-solid.top{
  background-position: -57px -4px;
}
.tile.platform.tile-solid.bottom{
  background-position: -6px -114px;
}
.tile.platform.tile-solid.top.bottom{
  background-position: -64px -116px;
}

.tile.platform.tile-solid.left.top{
  background-position: -165px -7px;
}
.tile.platform.tile-solid.left.bottom{
  background-position: -112px -109px;
}
.tile.platform.tile-solid.right.top{
  background-position: -57px -60px;
}
.tile.platform.tile-solid.right.bottom{
  background-position: -4px -162px;
}

.tile.platform.tile-solid.left.right.bottom{
  background-position: -117px -162px;
  z-index: 1;
}
.tile.platform.tile-solid.left.right.top{
  background-position: -161px -60px;
  z-index: 1;
}
.tile.platform.tile-solid.left.top.bottom{
  background-position: -165px -114px;
  z-index: 1;
}
.tile.platform.tile-solid.right.top.bottom{
  background-position: -56px -169px;
  z-index: 1;
}

.tile.platform.tile-solid.left.right.top.bottom{
  background-position: -162px -162px;
  z-index: 1;
}

.tile.platform.tile-solid.left.right:not(:is(.top, .bottom)),
.tile.platform.tile-solid.top.bottom:not(:is(.left, .right)){
  background-size: 275px;
}


/* .tile.natural.copper-mask{
  background-image: url("../assets/Texture2D/cuprite_mask.png");
  clip-path: polygon(0 0, 40% 0, 100% 60%, 100% 100%, 60% 100%, 0 40%);
} */